.filter-section {
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  position: fixed;
  background-color: #141414;
  top: 0px;
  flex-direction: column;
  z-index: 1001;

  .filter {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .btn-access {
    width: 100%;
    height: 5vh;
  }

  .filter_buttons-btn {
    bottom: 10px;
    position: absolute;
    width: 95%;
  }

  .filter-buttons {
    display: flex;
    align-items: start;
    gap: 5px;
    height: 100vh;
    flex-wrap: wrap;

    button {
      width: 45%;
      background-color: #32144e;
      color: white;
      padding: 5px 10px;
      border-radius: 8px;
      border: none;
    }
  }
  button {
    background-color: #32144e;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
  }
}

.btn-filter {
  background-color: #32144e;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.modal-edit_inputs_buttons {
  div {
    label {
      color: rgba(255, 255, 255, 0.868);
      width: 95vw;
      display: flex;
      justify-content: center;
    }
  }
}

.btn-access {
  button {
    img {
      filter: invert();
      opacity: 80%;
    }
  }
}
