.filter-selector {
  display: flex;
  flex-wrap: nowrap;
  padding: 0px 15px;

  .filter {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 10px 0px;
  }
}

.modal-edit_inputs_buttons {
  display: flex;

  flex-wrap: nowrap;

  div {
    display: flex;
    color: rgba(255, 255, 255, 0.806);
    flex: 0 0 auto;

    label {
      border: 2px solid #32144d;
    }
  }
}
