.form-login-back {
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 20px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: white;
    transform: scale(1.3);

    img {
      filter: invert();
    }
  }
}

.form-login-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  width: 80%;

  article {
    display: flex;
    height: 80dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .form-login-topbar {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
      img {
        background-color: #32144d;
        padding: 18px;
        width: 70px;
        border-radius: 100px;
        object-fit: cover;
        height: 70px;
      }
    }
  }

  .title-login {
    font-size: 30px;
  }
}

.show-password {
  display: flex;
  width: 100%;
  justify-self: end;
  cursor: pointer;
  align-items: end;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  width: 100%;

  div {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2px;
    width: 100%;

    .inputs {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #262626;
      padding: 0px 15px;
      border-radius: 10px;

      transition: 0.5s;

      &:hover {
        transform: scale(1.02);
      }

      input {
        border: none;
        padding: 8px 5px;
        background-color: #262626;
        color: white;
        width: 100%;

        &:focus {
          outline: none;
        }
      }
    }
  }
  button {
    background-color: transparent;
    border: 3px solid #32144d;
    border-radius: 10px;
    padding: 5px 8px;
    margin-top: 10px;
    color: white;
  }

  .help-login {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    .password {
      color: white;
    }
    .register {
      color: #8f0eff;
      font-weight: 600;
    }
  }
}

.form-login-bg {
  display: none;
}

@media (min-width: 768px) {
  .form-login {
    width: 80%;

    button {
      transition: 0.5s;
      &:hover {
        transform: scale(1.05);
        background-color: #32144d;
      }
    }
  }

  .form-login-section {
    flex-direction: row;
  }

  .form-login-bg {
    display: flex;
    width: 40%;

    img {
      width: 55%;
      height: 100vh;
      object-fit: cover;
      border-radius: 8px;
      position: relative;
      animation: showingIMG 8s ease infinite;

      transition: 0.5s;

      &:hover {
        width: 60%;
        cursor: pointer;
      }
    }
  }
}

@keyframes showingIMG {
  0% {
    opacity: 0%;
  }

  25% {
    opacity: 100%;
  }

  75% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}
