.series-section {
  .section_home {
    .movies-card-home {
      width: clamp(140px, 25vw, 140px) !important;

      .movies-card-home_img {
        height: 240px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px 0 0 8px;
        }

        .video-descripcion {
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 20px;
          padding: 0px 20px;
          text-align: center;
          border-radius: 0 8px 8px 0;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 100%;
          background-color: #202020;

          p:nth-child(1) {
            font-size: 20px;
            font-weight: 600;
          }
          p:nth-child(2) {
            font-size: 14px;
          }

          button {
            background-color: transparent;
            border: 2px solid #391759;
            border-radius: 8px;
            color: rgba(255, 255, 255, 0.879);
            padding: 5px 10px;
            transition: 0.5s;

            &:hover {
              transform: scale(1.05);
              background-color: #391759;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 375px) {
  .series-section {
    .section_home {
      .movies-card-home {
        width: clamp(175px, 25vw, 175px) !important;

        .movies-card-home_img {
          height: 300px;
        }
      }
    }
  }
}

@media (min-width: 425px) {
  .series-section {
    .section_home {
      .movies-card-home {
        width: clamp(190px, 25vw, 190px) !important;

        .movies-card-home_img {
          height: 300px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px 0 0 8px;
          }

          .video-descripcion {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            padding: 0px 20px;
            text-align: center;
            border-radius: 0 8px 8px 0;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 100%;
            background-color: #202020;

            p:nth-child(1) {
              font-size: 20px;
              font-weight: 600;
            }
            p:nth-child(2) {
              font-size: 14px;
            }

            button {
              background-color: transparent;
              border: 2px solid #391759;
              border-radius: 8px;
              color: rgba(255, 255, 255, 0.879);
              padding: 5px 10px;
              transition: 0.5s;

              &:hover {
                transform: scale(1.05);
                background-color: #391759;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
}
