.section-title {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 400;
  padding: 5px;
}

.section-movies {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin: 7px 0px 70px 0px;
  flex-wrap: wrap;
}

.movie-card {
  width: clamp(140px, 25vw, 140px);
  border-radius: 8px;
  position: relative;
  .movie-card_img {
    width: 100%;
    height: 200px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .movies-card-title {
    color: rgba(255, 255, 255, 0.74);
    padding: 2px;
    font-size: 14px;
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.movies-section {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  .movies-card-home_title {
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .movies-card-home {
    width: clamp(140px, 25vw, 140px) !important;

    .movies-card-home_img {
      width: 100%;
      img {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 375px) {
  .movies-section {
    .movies-card-home {
      width: clamp(170px, 25vw, 170px) !important;
    }
  }
}

@media (min-width: 425px) {
  .movies-section {
    .movies-card-home {
      width: clamp(190px, 25vw, 190px) !important;
    }
  }
}

@media (min-width: 768px) {
  .movies-section {
    .movies-card-home {
      width: clamp(170px, 25vw, 170px) !important;
    }
  }
}

@media (min-width: 1024px) {
  .movies-section {
    .movies-card-home {
      transition: 0.5s;
      &:hover {
        transform: scale(1.05);
      }

      .movies-card-home_img {
        position: relative;
        z-index: -1;

        img {
          border-radius: 8px 0 0 8px;
        }

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .video-descripcion {
          position: absolute;
          top: 0;
          left: 100%;
          z-index: 10;
        }
      }
    }
  }

  .filter-selector {
    width: 100%;
    margin: auto;

    .filter {
      overflow-x: auto;
      width: 95%;
      margin: auto;
    }
  }
}

@media (min-width: 1440px) {
}
