.section-title {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 400;
  padding: 5px;
}

.section-movies {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin: 7px 0px 70px 0px;
  flex-wrap: wrap;
}

.movie-card {
  width: clamp(140px, 25vw, 140px);
  border-radius: 8px;
  position: relative;
  .movie-card_img {
    width: 100%;
    height: 200px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .movies-card-title {
    color: rgba(255, 255, 255, 0.74);
    padding: 2px;
    font-size: 14px;
    display: -webkit-box;
    width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (min-width: 375px) {
  .movie-card {
    width: clamp(115px, 25vw, 115px);
    transition: 0.5s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@media (min-width: 425px) {
  .movie-card {
    width: clamp(125px, 25vw, 125px);
  }
}

@media (min-width: 768px) {
  .movie-card {
    width: clamp(140px, 25vw, 140px);
  }
}

@media (min-width: 1024px) {
  .movie-card {
    width: clamp(150px, 25vw, 150px);

    .movie-card_img {
      height: 250px;
    }
  }

  .filter-selector {
    width: 100%;
    margin: auto;

    .filter {
      overflow-x: auto;
      width: 95%;
      margin: auto;
    }
  }
}

@media (min-width: 1440px) {
  .section-movies {
    overflow-x: hidden;
  }

  .movie-card {
    width: clamp(190px, 25vw, 190px);

    .movie-card_img {
      height: 300px;
      position: relative;
      z-index: -1;
    }
  }

  .movie-card:has(:hover) .movie-card_img {
    opacity: 0;
  }

  .movie-card:has(:hover) .movies-card-home_title {
    opacity: 0;
  }

  .preview-video {
    opacity: 0;
  }

  .movie-card:has(:hover) .preview-video {
    opacity: 1;
  }

  .preview-video {
    width: 100%;
    position: absolute;
    top: 0;

    .preview-video_details {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      width: 200px;
      height: 100%;
      position: absolute;
      background-color: #202020;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      bottom: 0;
      left: 100%;
      z-index: 100;
    }

    p:nth-child(1) {
      font-size: 20px;
      font-weight: 600;
    }

    button {
      border: 2px solid #391759;
      background-color: transparent;
      color: rgba(255, 255, 255, 0.865);
      padding: 5px 10px;
      border-radius: 8px;
      transition: 0.5s;

      &:hover {
        transform: scale(1.05);
        background-color: #391759;
      }
    }

    video {
      width: 100%;
      height: 300px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
  }
}
