.home-page {
  margin: 0px 0px 70px 0px;

  .home-page_button {
    display: none;
  }
}

.section_home-title {
  width: 100%;
  padding: 5px 15px;
  color: rgba(255, 255, 255, 0.776);
  font-size: 17px;
  font-weight: 700;
}

.section_home {
  width: 100%;
  max-height: 300px;
  padding: 5px 10px;
  gap: 15px;
  overflow-x: auto;
  display: flex;
  margin: 0px 0px 10px;

  .movies-card-home {
    display: flex;
    width: clamp(150px, 25vw, 160px);
    flex-direction: column;
    flex: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.815);

    .movies-card-home_img {
      width: 100%;
      img {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
      }
    }
    .movies-card-home_title {
      padding: 0px 8px;
      display: -webkit-box;
      width: 100%;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (min-width: 1024px) {
  .home-page {
    width: 95%;
    margin: auto;
    margin-bottom: 40px;

    .home-page_button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        padding: 5px 10px;
        border: none;
        border-radius: 8px;
        background-color: transparent;
        border: 2px solid #391759;
        color: rgba(255, 255, 255, 0.779);
        justify-content: center;
        align-items: center;
        transition: 0.5s;

        &:hover {
          background-color: #391759;
          transform: scale(1.1);
        }
      }
    }
  }

  .section_home-title {
    font-size: 24px;
    padding: 0px 80px;
  }

  .section_home {
    flex-wrap: wrap;
    max-height: max-content;
    overflow-x: hidden;
    justify-content: center;
    overflow-y: hidden;

    .movies-card-home {
      width: clamp(170px, 25vw, 170px);
      transition: 0.5s;

      &:hover {
        transform: scale(1.05);
      }
    }

    .movies-card-home_img {
      width: 100%;

      img {
        width: 100%;
        height: 280px !important;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 1440px) {
  .section_home-title {
    font-size: 24px;
    padding: 0px 90px;
  }
}
