.section-password {
  width: 100%;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-password {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  .img {
    text-align: center;
    img {
      width: 20%;
    }
  }
  .title-password {
    text-align: center;
  }
  .input-password {
    display: flex;
    justify-content: center;
    width: 100%;
    input {
      width: 80%;
      padding: 5px 5px;
      border: none;
      border-radius: 10px;
    }
  }
  .button {
    width: 100%;
    text-align: center;
    button {
      background-color: #3c185d;
      color: white;
      font-weight: 600;
      width: 50%;
      padding: 5px;
      border: none;
      border-radius: 10px;
    }
  }
}

.input-password input:focus {
  border: 3px solid #3c185d;
  outline: none;
}
