.search {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #181818;
  z-index: 105;
  top: 0;

  .search-topbar_buttons {
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
    color: rgba(255, 255, 255, 0.804);
    font-weight: 600;

    button {
      background-color: transparent;
      border: none;
      filter: invert();
      display: flex;
      align-items: center;

      img {
        width: 30px;
        opacity: 80%;
      }
    }
  }
}

.search-topbar {
  width: 100%;

  .search-topbar_input {
    width: 100%;
    display: flex;
    justify-content: center;

    .buscador {
      width: 90%;
      display: flex;

      border: none;
      border-radius: 8px;
      background-color: #242424;

      div {
        padding: 0px 5px;
        margin: 0px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          filter: invert();
          opacity: 80%;
        }
      }

      input {
        width: 92%;
        padding: 7px;
        background-color: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.826);

        &:focus {
          outline: 1px solid rgba(255, 255, 255, 0.402);
          border-radius: 8px;
        }
        &::placeholder {
          color: rgba(255, 255, 255, 0.795);
        }
      }
    }
  }
}

.search-result-section {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 103;
  background-color: #181818;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 10px;
  overflow-y: auto;
  animation: showSearch 0.3s ease-out 1;

  .search-result {
    margin: 10px 0px;
    width: clamp(135px, 25vw, 135px);
    color: rgba(255, 255, 255, 0.909);

    .search-result_img {
      width: 100%;
      height: 250px;
      img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        object-fit: cover;
      }
    }

    .search-result_title {
      p {
        color: rgba(255, 255, 255, 0.879);
        display: -webkit-box;
        width: 100%;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@keyframes showSearch {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@media (min-width: 375px) {
  .search-result-section {
    .search-result {
      width: clamp(110px, 25vw, 110px);

      .search-result_img {
        height: 200px;
      }
    }
  }
}

@media (min-width: 375px) {
  .search-result-section {
    .search-result {
      width: clamp(120px, 25vw, 120px);
    }
  }
}

@media (min-width: 768px) {
  .search-result-section {
    .search-result {
      width: clamp(130px, 25vw, 120px);
      transition: 0.5s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

@media (min-width: 1024px) {
  .search-result-section {
    .search-result {
      width: clamp(150px, 25vw, 150px);

      .search-result_img {
        height: 250px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .search-result-section {
    .search-result {
      width: clamp(170px, 25vw, 170px);

      .search-result_img {
        height: 250px;
      }
    }
  }
}
